body{
    margin: 0;
}

.container{
    display: flex;
}
.setnav{
    width: 100%;
    height: 2.7rem;
    background-color: #333;
}

.sepet{
    background-color: #79cdcd;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.8em;
    text-align: center;
    padding-top: 0.2rem;
    width: 3.5em;
    height: 1.4em;
    border-radius: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.refreshbtn{
    border:none;
    background-color:#28A745;
    width:2.6rem;
    height:2.6rem;
    border-radius:0.4rem;
    transition: background-color .2s;
}
.refreshbtn:hover{
    background-color:#229145;
}
.recyclebtn{
    margin-left: 2em;
    border:none;
    background-color:#007BFF;
    width:2.7rem;
    height:2.6rem;
    border-radius:0.4rem;
    transition: background-color .2s;
}
.recyclebtn:hover{
    background-color:#0065ff;
}
.contentcontainer{
    margin: 2rem !important;
}
.numcontent{
    margin-top: 0.8rem;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 24px;
    padding-top: 0.25em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#212529;
    text-align: center;
    background-color: #ffc107;
    height: 2.4rem;
    width: 4.5rem;
}
.num{
    height: 2.7rem;
}
.add{
    margin-left: 0.7rem;
    background-color: #6C757D;
    color: white;
    font-size: 16px;
    border: none;
    width: 2.7rem;
    border-radius: 0.2rem;
    height: 2.6rem;
    transition: background-color .4s;
}
.add:hover{
    background-color: #4b5156;
}
.remove{
    margin-left: 0.7rem;
    color: white;
    background-color: #17A2B8;
    font-size: 16px;
    border: none;
    width: 2.7rem;
    border-radius: 0.2rem;
    height: 2.6rem;
    transition: background-color .4s;
}
.remove:hover{
    background-color: #138599;
}
.delete{
    margin-left: 0.7rem;
    color: white;
    background-color: #DC3545;
    font-size: 16px;
    border: none;
    width: 2.7rem;
    border-radius: 0.2rem;
    height: 2.6rem;
    transition: background-color .4s;
}
.delete:hover{
    background-color: #b72d34;
}
.alisveris{
    display: flex;
    margin-left: 2rem;
}
.buttons{
    display: flex;
    margin-top: 0.9rem;
}